{% extends 'dashboard/base_dashboard.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-success text-white">
            <h2>{% if form.instance.pk %}Modifier{% else %}Ajouter{% endif %} Produit</h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger small">
                                {{ field.errors|striptags }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-success">Enregistrer</button>
                <a href="{% url 'dashboard:dashboard_list_products' %}" class="btn btn-secondary">Annuler</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
