{% extends 'base.html' %}
{% block title %}À propos - AgroPlateforme{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1>À propos</h1>
    <p>Nous accompagnons les agriculteurs et éleveurs avec des conseils pratiques, des formations et des équipements adaptés. Nous fabriquons des incubateurs et installons des fermes clé en main.</p>
  </div>
  <div class="col-md-4">
    <div class="p-3 bg-light rounded">
      <h5>Pourquoi nous choisir ?</h5>
      <ul>
        <li>Expertise terrain</li>
        <li>Équipements de qualité</li>
        <li>Accompagnement de A à Z</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
